<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<div class="main-container align-self-center">
    <div class="d-sm-flex flex-column align-items-sm-center">
        <p class="text-muted d-sm-flex">created by</p>
        <p>Grubelnik Peter, 01608300</p>
        <p>Vordermaier Alexander, 11804192</p>
        <p>Zirat Daniel, 11804193</p>
    </div>
</div>


<%- include('./partials/footer.ejs') %>

</body>
</html>