<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<div class="main-container align-self-center">
    <div class="flex-column justify-content-start">
        <h2 class="m-2 text-center">Questions</h2>

        <% if (questions.length > 0) { %>
            <% questions.forEach(question => { %>
                <%- include('./partials/question_tiny.ejs', {question}); %>
            <% }); %>
        <% } else { %>
            <p class="text-center">There are no questions to display...</p>
        <% } %>

    </div>
</div>

<%- include('./partials/footer.ejs') %>

</body>
</html>