<div class="d-flex flex-column popup" id="popup">
    <button data-close-button class="btn-close align-self-end"></button>
    <div class="form">
        <h2>Add Answer</h2>
        <div class="form-element">
            <label for="exampleFormControlTextarea1">Your Answer</label>
            <textarea data-answer class="form-control" id="exampleFormControlTextarea1" rows="10"
                      spellcheck="true"></textarea>
        </div>
    </div>
    <div class="form-element text-center">
        <button data-submit-answer class="btn btn-outline-dark me-2">Submit</button>
    </div>
</div>
<div id="overlay"></div>
