<!-- header is based on resource: (https://getbootstrap.com/docs/5.1/examples/headers/ and https://mdbootstrap.com/docs/standard/extended/login/), last accessed 04.01.2022-->
<!-- Copyright 2011-2021 The Bootstrap Authors-->
<!-- Copyright 2011-2021 Twitter, Inc.-->
<!-- Copyright 2021 MDBootstrap.com -->
<!-- Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)-->
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center">
            <img class="me-2" width="60" height="60" src="/icons/logo.svg">
        </div>
    </div>
</header>