<!-- header is based on resource: https://getbootstrap.com/docs/5.1/examples/list-groups/, last accessed 07.01.2022-->
<!-- Copyright 2011-2021 The Bootstrap Authors-->
<!-- Copyright 2011-2021 Twitter, Inc.-->
<!-- Copyright 2021 MDBootstrap.com -->
<!-- Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)-->

<a href="/question/<%= question.Id %>" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
    </svg>
    <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
            <h6 class="mb-0"><%= question.Title %></h6>
        </div>
        <small class="opacity-50 text-nowrap" title="<%= question.CreationDate %>"><%= question.RelativeCreationDate %></small>
    </div>
</a>